* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end container */

/* start nav */
header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .container ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    list-style: none;
}

header nav .container span {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav .container span a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header nav ul li {
    padding: 8px 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color ease-in-out 100ms, color ease-in-out 100ms;
}

header nav ul li:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

header nav ul a {
    padding: 8px 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color ease-in-out 100ms, color ease-in-out 100ms;
    text-transform: capitalize;
}

/* end nav */
/* start about section */
#about .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

#about p {
    font-size: 12px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}

#about .container>span {
    font-size: 15px;
    color: #333;
}

#about .cta-btn button {
    background-color: white;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
}

#about .cta-btn button a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

#about .cta-btn button.active {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* end about section */