* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

section {
    padding: 60px 0;
}

h1 {
    font-weight: 500;
    text-transform: capitalize;
}

/* start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end container */

/* start nav */
header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .container ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    list-style: none;
}

header nav .container span {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav .container a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header nav ul li {
    padding: 8px 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color ease-in-out 100ms, color ease-in-out 100ms;
}

header nav ul li:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

header nav ul a {
    padding: 8px 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color ease-in-out 100ms, color ease-in-out 100ms;
    text-transform: capitalize;
}

/* end nav */
/* start about section */
#about .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .img img {
    max-width: 100%;
}


#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

#about p {
    font-size: 12px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}

#about .container>span {
    font-size: 15px;
    color: #333;
}

#about .cta-btn button {
    background-color: white;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
}

#about .cta-btn button a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

#about .cta-btn button.active {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* end about section */

/* start service section */
#service .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#service .services-list {
    flex: 1;
}

#service .services-list ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 0;
}

#service .services-list ul li {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

#service .services-list .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#service .services-list .text span {
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

#service .services-list .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#service .services-list .icon img {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}


#service .text-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#service .text-box>span {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

#service .text-box p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

#service .text-box .stats {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-self: flex-end;
}

/* end service section */

/* start education section */
#education .container {
    display: flex;
    flex-direction: column;

    align-items: center;

}

#education>span {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

#education .education-list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#education .education-list ul {
    list-style: none;
    padding: 0;
}

#education .education-list ul li {
    display: flex;
    justify-content: center;

    align-items: flex-start;
}

#education .education-list .date {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;

}

#education .education-list .date .date-content {
    width: 120px;
    margin-right: 100px;
}

#education .education-list .date h3 {
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
}

#education .education-list ul li .info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-bottom: 30px;
    flex: 1;
}

/* all of them without the last one */
#education .education-list ul li:not(:last-child) .info {

    border-left: black 2px solid;
}

#education .education-list ul li .info::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: black;
    outline: rgba(0, 0, 0, 0.1) 4px solid;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0;
    transform: translate(calc(-50% - 1px));
}

#education .education-list ul li .info h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: -5px;
}

#education .education-list ul li .info p {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
    margin-top: -3px;
}

/* end education section */

/* start responsive */
/* start nav bar */
@media (max-width: 768px) {
    header nav .container {
      position: relative;
    }
    header nav .container .menu-bar {
        cursor: pointer;
        padding: 20px;
    }

    header nav .container ul {
        display: block;
        gap: 10px;
        position: absolute;
        right: 40px;
        top: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 0;
        width: 150px;
        overflow: hidden;
        display: none;
    }

    header nav .container ul li {
        font-size: 16px;
        padding: 15px 20px;
        width: 100%;
        border-radius: 0;
    }

    header nav .container ul li:hover {
        background-color: transparent;
        padding-left: 30px;
    }

    /* Show menu on hover */
    header nav .container .menu-bar:hover ul {
        display: block;
    }
}

/* end nav bar */

/* end responsive */